{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-dumbbell"></i>
        Fitness-App
      </a>
      <h6>{{ request.user }}</h6>
    </div>
</nav>

<div class="page">
   
        <h1 class="passwordresettitle">Password Reset</h1>

       <!--   <div class="navigation_bar reset">
            <Small class="reset">Click the button below to receieve a password reset email</Small>
        </div>
        
        <button class="submit start" aria-placeholder="Create Account"> Reset Password     <i class="fa-solid fa-right-to-bracket"></i></button>
-->
    <div class="passwordresetform">
        <p >Enter your email bellow to receieve a password reset email</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary btn-sm"><a>Submit</a></button>
        </form>
    </div>
        

</div>

<div class="passwordresetformnavbar">
    <ul class="nav sticky-bottom bg-dark justify-content-center">
     <li class="nav-item">
       <a class="nav-link active" href="{% url 'start' %}">
        <i class="fa-regular fa-circle-left"></i>
       </a>
     </li>
     
   </ul> 
  </div>
{% endblock content %}