{% extends 'base.html' %}
{% load static %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-dumbbell"></i>
      Fitness-App
    </a>
  </div>
</nav>
<h1 class="successtitle">Password Change Was Successful!</h1>
<div class="success">
  <p>Log in with your new password!</p>
  <button class="btn btn-primary btn-sm">
    <a href="{% url 'start' %}">Login </a>
  </button>


</div>





<div class="passwordchangedonenavbar">
  <ul class="nav sticky-bottom bg-dark justify-content-center">
   <li class="nav-item">
     <a class="nav-link active" href="{% url 'start' %}">
      <i class="fa-regular fa-circle-left"></i>
     </a>
   </li>
   
 </ul> 
</div>
{% endblock content %}