{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-dumbbell"></i>
      Fitness-App
    </a>
    
  </div>
</nav>

<h1 class="emailinboxtitle">Check your inbox.</h1>
<div class="emailinbox">
<p>We've emailed you instructions for setting your password. You should receive the email shortly!

</p>
</div>
<div class="passwordresetdonenavbar">
  <ul class="nav sticky-bottom bg-dark justify-content-center">
   <li class="nav-item">
     <a class="nav-link active" href="{% url 'start' %}">
      <i class="fa-regular fa-circle-left"></i>
     </a>
   </li>
   
 </ul> 
</div>
{% endblock %}