{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="page">
    <div class="reset_return">
        <i class="fa-solid fa-arrow-left fa-2xl"></i>
        <h1 class="reset_return">Password Reset</h1>
    </div>
    <Div class="reset_img">
        <img src="#" alt="Logo">
    </Div>
        <h1 class="reset">Password Reset</h1>

        <div class="navigation_bar reset">
            <Small class="reset">Click the button below to receieve a password reset email</Small>
        </div>
        
        <button class="submit start" aria-placeholder="Create Account"> Reset Password     <i class="fa-solid fa-right-to-bracket"></i></button>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>

</div>
{% endblock content %}