{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock title%}
{% block content%}

<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-dumbbell"></i>
        Fitness-App
      </a>
      
    </div>
  </nav>



<div class="page">

        <h1 class="registertitle">Account Registration</h1>
   
  
        
        <div class="registerinputs">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_ul }}
                <button class="btn btn-primary btn-sm"><a>Submit</a></button>
            </form>
        </div>

        
       
</div>


<div class="registernavbar">
    <ul class="nav sticky-bottom bg-dark justify-content-center">
     <li class="nav-item">
       <a class="nav-link active" href="{% url 'start' %}">
        <i class="fa-regular fa-circle-left"></i>
       </a>
     </li>
     
   </ul> 
  </div>
  

{% endblock content%}