{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock title%}
{% block content%}
<div class="page">
    <div class="navigation_bar">
        <i class="fa-solid fa-arrow-left fa-2xl"></i>
        <h1 class="register">Account Registration</h1>
    </div>
    <div class="logo_return">
        <img src="#" alt="Logo" class="register">
    </div>
        <h3 class="register">Create an Account</h3>
        <div class="register inputs">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <small class="register">By creating an account you agree to our Terms of Service and Privacy Policy</small>
        <button class="submit" aria-placeholder="Create Account"> Create Account   <i class="fa-solid fa-right-to-bracket"></i></button>
</div>


{% endblock content%}