{% extends 'base.html' %}

{% block title %}Registration{% endblock title%}

{% block content%}
<div class="logo_return">

</div>
<div class="register">
    <h3>Create an Account</h3>
    <div class="register inputs">
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <input type="text" placeholder="Age">
        <input type="text" placeholder="Height">
        <input type="text" placeholder="Current Weight">
        <input type="text" placeholder="Exercise Amounts during the Week">
        <input type="text" placeholder="Exercise Experience">
        <input type="text" placeholder="Goal">
    </div>
    <small>By creating an account you agree to our Terms of Service and Privacy Policy</small>
    <button type="submit" aria-placeholder="Create Account"><i class="fa-solid fa-right-to-bracket"></i></button>
</div>


{% endblock content%}