{% extends 'base.html' %}

{% block title %}Weekly View{% endblock title %}

{% block content %}
<div class="logo_return">

</div>
<div class="registration">
    <h3>Create an Account</h3>
    <div class="weekly-days">
        <div class="weekly-day">
            <input type="checlbox">
        </div>
    </div>
    <small>By creating an account you agree to our Terms of Service and Privacy Policy</small>
    <button type="submit" aria-placeholder="Create Account"><i class="fa-solid fa-right-to-bracket"></i></button>
</div>
{% endblock content %}