{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="start">
    <Div class="image">
        <img src="#" alt="Logo">
    </Div>
    <div class="selections">
        <div class="selection-option">
            <h3 class="selection-text">Returning Users/Login</h3>
            <i class="fa-solid fa-right-to-bracket">
        </div>
        <div class="selection-option">
            <h3 class="selection-text">New Users/Register</h3>
            <i class="fa-solid fa-user-plus"></i>
        </div>
    </div>
</div>
{% endblock content %}