/* color
orange-text #FFB703
dark blue (back of buttons) #023047
gray (unused really) #707070
light black backing - #8ECAE6
medium lblue (overall backgroun) #219EBC   */

*{
    max-width: 428px;
    max-height: 926px;
    
}
div.base{
   
        background-color: black;
        color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    
    
}

/* Start Page */
.welcometitle{
    text-align: center;
    margin-top: 100px;
}

.homebuttons {
    margin-top: 50PX;
    border: 1px solid #212529;
    background-color: #212529;
    display: inline-block;
    border: none;
    padding: 45px;
    margin-left: 35px;
    border-radius: 25px;
  }
  .username{
    margin-bottom: 30px;
  }
  .start button.btn:hover{
    background-color: white;
    color: black;
  }
  button.btn {
    display: block;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #35c8a8;
    border-radius: 25px;
    
  }
  .start a{
    text-decoration: none !important;
    color: white !important;
  }
  .start a:hover{
    color: black !important;
    
  }


/* Register page */

.register .navbar-brand {
    color: white;
}
.registertitle {
    text-align: center;
    margin-top: 20px;
}

.registertitle{
    text-align: center;
    margin-bottom: 30px;
    margin-top:20px;
}

.registerinputs{
    background-color: #212529;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    margin-top: 50px;
}

.registernavbar{
    margin-top: 40px;
}
.registerinputs button.btn{  
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
    
}

.registerinputs button.btn:hover{
    background-color: white;
    color: black;
  }
/* password reset page */


/*Navbar*/
.navbar .navbar-brand {
    color: white;
}

/* footer */

a.nav-link {
    color: white;
}
a.nav-link:hover {
    color: #35c8a8;
}

/*Daily*/

.exercisetitle{
    text-align: center;
    margin-bottom: 30px;
    margin-top:20px;
}
.exercise{
    
    background-color: #212529;
    border: none;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}
.workoutcomplete{
    text-align: center;
}
.dailyresetbtn button.btn{
    margin: 35%;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
}

.dailyresetbtn button.btn:hover{
    background-color: white;
    color: black;
  }

.dailycompletebtn button.btn{  
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
    
}

.dailycompletebtn button.btn:hover{
    background-color: white;
    color: black;
  }

.dailynavbar{
    margin-top: 33px;
    
}

/*Template*/

.templatetitle{
    text-align: center;
    margin-bottom: 30px;
    margin-top:20px;

}

.weeks{
    
    background-color: #212529;
    border: none;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 150px;
}
.weeks button.btn {
    
    margin: 25%;
    border: none;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 50%;
    background-color: #35c8a8;
    border-radius: 25px;
    
  }
  .weeks button.btn:hover{
    background-color: white;
    color: black;
  }
  .weeks a{
    text-decoration: none !important;
    color: white !important;
  }
  .weeks a:hover{
    color: black !important;
    
  }
.templatenavbar{
    margin-top: 350px;
}






/*Home */


.userinfo{
    background-color: #212529;
    border: none;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 100px;
}

.workoutinfo {
  background-color: #212529;
  border: none;
  padding: 20px;
  margin: 50px;
  border-radius: 25px;
  margin-top: 50px;
}

.homenavbar{
  margin-top: 95px;
}


.accountlogout button.btn:hover{
  background-color: white;
  color: black;
}
.accountlogout button.btn {
  margin: 35%;
  border: none;
  margin-bottom: 0px;
  margin-top: 90px;
  width: 30%;
  background-color: #35c8a8;
  border-radius: 25px;
  
}
.accountlogout a{
  text-decoration: none !important;
  color: white !important;
}
.accountlogout a:hover{
  color: black !important;
  
}

.userinfo i.fa-solid{
  margin-right: 10px;
}

/*Weekly*/
.weeklytitle{
    text-align: center;
    margin-bottom: 30px;
    margin-top:20px;
}

.weeklyworkouts{
    background-color: #212529;
    border: none;
    padding: 30px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 100px;
}

.weeklyworkouts button.btn{
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 40%;
    background-color: #35c8a8;
    border-radius: 25px;
}

.weeklyworkouts button.btn:hover{
    background-color: white;
    color: black;
  }



  .weeklyworkouts a{
    text-decoration: none !important;
    color: white !important;
  }
  .weeklyworkouts a:hover{
    color: black !important;
  }


.weeklynavbar{
    margin-top: 440px;
}





/*Account*/
h1.account{
    text-align: center;
    margin-top:20px;
    
}

.useraccountinfo{
    background-color: #212529;
    border: none;
    padding: 20px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 40px;
}

.accountinfo {
  background-color: #212529;
  border: none;
  padding: 20px;
  margin: 50px;
  border-radius: 25px;
  margin-top: 20px;
}
.accounttitle{
  text-align: center;
  margin-top:20px;
  margin-bottom: 30px;
}

.accountupdate{
  background-color: #212529;
  border: none;
  padding: 30px;
  margin: 50px;
  border-radius: 25px;
  margin-top: 20px;
}

.updateaccount button.btn{
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
}
.updateaccount a{
    text-decoration: none !important;
    color: white !important;
}
.updateaccount a:hover{
  color: black !important;
}

.updateaccount button.btn:hover{
    background-color: white;
    color: black !important;
  }
  
  .resetworkout button.btn{
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
}
.resetworkout a{
    text-decoration: none !important;
    color: white !important;
}
.resetworkout a:hover{
  color: black !important;
}

.resetworkout button.btn:hover{
    background-color: white;
    color: black !important;
  }
  

.viewaccountnavbar{
    margin-top: 60px;
}



.changepassword button.btn {
  
  margin: 35%;
  border: none;
  margin-bottom: 0px;
  margin-top: 100px;
  width: 30%;
  background-color: #35c8a8;
  border-radius: 25px;
  
}
.changepassword a{
  text-decoration: none !important;
  color: white !important;
}
.changepassword a:hover{
  color: black !important;
}

.changepassword button.btn:hover{
  background-color: white;
  color: black !important;
}



.accountupdate button.btn {
  margin: 25%;
  border: none;
  margin-bottom: 0px;
  margin-top: 40px;
  width: 50%;
  background-color: #35c8a8;
  border-radius: 25px;
  
}
.accountupdate button.btn:hover{
  background-color: white;
  color: black !important;
}

.accountnavbar{
  margin-top: 175px;
}



/*Password_reset_done*/
.emailinbox{
    background-color: #212529;
    border: none;
    padding: 30px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 200px;
}
.emailinboxtitle{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}
.passwordresetdonenavbar{
    margin-top: 420px;
}

/*password_reset_form*/
.passwordresettitle{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}

.passwordresetform{
    background-color: #212529;
    border: none;
    padding: 30px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 100px;
}
.passwordresetform button.btn{  
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
    
}

.passwordresetform button.btn:hover{
    background-color: white;
    color: black;
  }

  .passwordresetformnavbar{
    margin-top: 450px;
  }

  /*password_change_form*/
  .passwordchangetitle{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
  }

  .passwordchange{
    background-color: #212529;
    border: none;
    padding: 30px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 100px;
  }

.passwordchange button.btn{
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
}

.passwordchange button.btn:hover{
    background-color: white;
    color: black;
  }
.passwordchangenavbar{
    margin-top: 345px;
}

/*password_change_done*/

.successtitle{
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}

.success{
    background-color: #212529;
    border: none;
    padding: 30px;
    margin: 50px;
    border-radius: 25px;
    margin-top: 100px;
  }
  .success p {
    text-align: center;
  }

.success button.btn{
    margin: 35%;
    border: none;
    margin-bottom: 0px;
    margin-top: 40px;
    width: 30%;
    background-color: #35c8a8;
    border-radius: 25px;
}

.success button.btn:hover{
    background-color: white;
    color: black;
  }



  .success a{
    text-decoration: none !important;
    color: white !important;
  }
  .success a:hover{
    color: black !important;
  }
  
  .passwordchangedonenavbar{
    margin-top: 475px;
  }





