{% extends 'base.html' %}

{% block title %}Nutritional Calculator{% endblock title %}

{% block content %}

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-dumbbell"></i>
      Fitness-App
    </a>
    <h6>{{ request.user }}</h6>
  </div>
</nav>

<div class="nutrition">
  
        <h1 class="nutritiontitle">Caloric Intake Estimator
        </h1>
    <div class="nutritioninfo">

     
        <div class="register inputs">
            <input type="text" placeholder="Age">
            <input type="text" placeholder="Height">
            <input type="text" placeholder="Current Weight">
            <input type="drop" placeholder="Exercise Amounts during the Week">
            <input type="text" placeholder="Goal">
        </div>
        <h5 class="nutrition akward-nut">Please confirm the above information is correct</h3>
        <button class="btn btn-primary btn-sm">calculate</button>
        <h3 class="nutrition">Recommendations</h3>
        <div class="total grid-container">
            <div class="grid-item"><h5>Protein:</h5></div>
            <div class="grid-item"># Grams</div>
            <br>
            <div class="grid-item"><h5>Carbohydrates:</h5></div>
            <div class="grid-item"># Grams</div>
            <br>
            <div class="grid-item"><h5>Fat:</h5></div>
            <div class="grid-item"># Grams</div>
            <br>
            <div class="grid-item"><h5>Total Calories:</h5></div>
            <div class="grid-item"># Cal</div>
        </div>
    </div>
        
</div>
<div class="nutritionnavbar">
    <ul class="nav sticky-bottom bg-dark justify-content-center">
     <li class="nav-item">
 
       <a class="nav-link active" href="{% url 'home' %}">
         <i class="fa-solid fa-house"></i>
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'template' %}">
         <i class="fa-solid fa-dumbbell"></i>
   
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'nutrition' %}">
         <i class="fa-solid fa-bowl-food"></i>
   
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'account' %}">
         <i class="fa-solid fa-gear"></i>
   
       </a>
     </li>
   </ul> 
 </div>


{% endblock content %}