{% extends 'base.html' %}

{% block title %}Nutritional Calculator{% endblock title %}

{% block content %}
<div class="page">
    <div class="navigation_bar">
        <i class="fa-solid fa-arrow-left fa-2xl"></i>
        <h1 class="register">Caloric Intake Estimator
        </h1>
    </div>
    <div class="logo_return">
        <img src="#" alt="Logo" class="register">
    </div>
        <h3 class="register">{{ user.name }}'s Information</h3>
        <div class="register inputs">
            <input type="text" placeholder="Age">
            <input type="text" placeholder="Height">
            <input type="text" placeholder="Current Weight">
            <input type="drop" placeholder="Exercise Amounts during the Week">
            <input type="text" placeholder="Goal">
        </div>
        <h3 class="nutrition akward-nut">Please confirm the above information is correct</h3>
        <button class="submit" aria-placeholder="Create Account"> Calculate   <i class="fa-solid fa-right-to-bracket"></i></button>
        <h3 class="nutrition">Recommendations</h3>
        <div class="total grid-container">
            <div class="grid-item"><h5>Protein:</h5></div>
            <div class="grid-item"># Grams</div>
            <div class="grid-item"><h5>Carbohydrates:</h5></div>
            <div class="grid-item"># Grams</div>
            <div class="grid-item"><h5>Fat:</h5></div>
            <div class="grid-item"># Grams</div>
            <div class="grid-item"><h5>Total Calories:</h5></div>
            <div class="grid-item"># Cal</div>
        </div>
</div>
<div class="customnavbar">
    <ul class="nav sticky-bottom bg-dark justify-content-center">
     <li class="nav-item">
 
       <a class="nav-link active" href="{% url 'home' %}">
         <i class="fa-solid fa-house"></i>
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'template' %}">
         <i class="fa-solid fa-dumbbell"></i>
   
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'nutrition' %}">
         <i class="fa-solid fa-bowl-food"></i>
   
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'account' %}">
         <i class="fa-solid fa-gear"></i>
   
       </a>
     </li>
   </ul> 
 </div>


{% endblock content %}