{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="page">
    <Div class="image">
        <img src="#" alt="Logo">
    </Div>
        <h1 class="start">Welcome Back!</h1>

        <input type="text" class="start" placeholder="Username:">

        <input type="text" placeholder="Password:" class="start">

        <button class="submit start" aria-placeholder="Create Account"> <a href="{% url 'login' %}">Login</a>     <i class="fa-solid fa-right-to-bracket"></i></button>
        <button class="submit start" aria-placeholder="Create Account"> <a href="{% url 'register' %}">New User</a>     <i class="fa-solid fa-user-plus"></i></button>

        <div class="navigation_bar start">
            <Small class="register start"><button class="submit start" aria-placeholder="Create Account">Reset Password</button></Small>
        </div>
</div>
{% endblock content %}