{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock title %}
{% block content %}
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-dumbbell"></i>
        Fitness-App
      </a>
    </div>
</nav>


<div class="start">
  <h1 class="welcometitle">Welcome Back!</h1>
  <div class="homebuttons">

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
      <table class="username">
        <tr >
          <td >{{ form.username.label_tag }}</td>
          <td >{{ form.username }}</td>
          
        </tr>
        
        <tr>
          <td>{{ form.pasword_label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <button class="btn btn-primary btn-sm">Login</button>
  </form>

      <a href="{% url 'register' %}"><button class="btn btn-primary btn-sm" value="none">New User</button></a>

      
      <a href="{% url 'password_reset' %}"><button class="btn btn-primary btn-sm" value="none">Reset Password</button></a>

    
    </div>
  
</div>

{% endblock content %}

