{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
View Account
{% if request.user.is_authenticated %}
    <p>User = {{ request.user }}</p>
    <p>Pk = {{ request.user.pk }}</p>
    <p>Height = {{ request.user.height }}</p>
    <p>Weight = {{ request.user.weight }}</p>
    <p>Age = {{ request.user.age_category }}</p>
    <p>Goal = {{ request.user.get_goal_display }}</p>
    <p>Frequency = {{ request.user.get_exercise_frequency_display }}</p>
    <p>Template = {{ request.user.template_id }}</p>
    <p>Template_id = {{ request.user.template_id.id }}</p>
    <a href="update/{{request.user.pk}}/">Update account</a>
    <form method="POST" action="{% url 'update_workouts' %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are you sure?')">Reset Workout Progress</button>
    </form>
{% endif %}
{% endblock content %}
