{% extends 'base.html' %}

{% block title %}Daily View{% endblock title %}

{% block content %}
Daily View
<br>
{{exercise}}
<br>
workout:
<br>
{{ exercise.exercise_1 }}
<br>
{{ exercise.description_1 }}
<br>
{{ exercise.exercise_2 }}
<br>
{{ exercise.description_2 }}
<br>
{{ exercise.exercise_3 }}
<br>
{{ exercise.description_3 }}
<br>
{{ exercise.exercise_4 }}
<br>
{{ exercise.description_4 }}
<br>
{{ exercise.exercise_5 }}
<br>
{{ exercise.description_5 }}
<br>
{{ workouts }}
{% if exercise.name in workouts %}
<h5>Workout Already Completed</h5>
{% else %}
<form method="POST" action="{% url 'update' slug=exercise.slug %}">
    {% csrf_token %}
    <button type="submit">Complete</button>
</form>
{% endif %}
{% endblock content %}