{% extends 'base.html' %}

{% block title %}Daily View{% endblock title %}

{% block content %}
Daily View
<br>
{{exercise}}
<br>
workout:
<br>
{{ exercise.exercise_1 }}
<br>
{{ exercise.description_1 }}
<br>
{{ exercise.exercise_2 }}
<br>
{{ exercise.description_2 }}
<br>
{{ exercise.exercise_3 }}
<br>
{{ exercise.description_3 }}
<br>
{{ exercise.exercise_4 }}
<br>
{{ exercise.description_4 }}
<br>
{{ exercise.exercise_5 }}
<br>
{{ exercise.description_5 }}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Confirm">
</form>
{% endblock content %}